.vscode
test.*
*.zip

# R이 있다면 R의 datafile들을 제거해야 할 필요가 
.Rhistory
.RData

__pycache__
# quizes 돌리다가
*.txt
# 몇 주차.txt가 생길 것을 없애고자
sample_dir
# 폴더 만들어지는 걸 없애고자

# WebDriver는 포함하지 않을 생각입니다만 app은 남길까 합니다.
Driver_Notes
# edgedriver_win64.zip
msedgedriver.exe
